<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
    </head>
    <body class="{{ bodyClass }}">
        <header>
        {% include header.liquid %}
            <div class="bannerPhoto" style="background-image: url({{ headerImage }});"> </div>
            {{ circles || circleFormat }}
        </header>
        {% include menu.liquid %}
        <div class="main">
        <main>
        <h1>{{ pageTitle }} </h1>
        {{ content }}
        </main>
        <aside>
            {% include sidebar.liquid %}
        </aside>
        </div>
        {% include call.liquid %}
        <footer>
            {% include footer.liquid %}
        </footer>
    </body>
</html>