<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
    </head>
    <body class="{{ bodyClass }}">
        {% include menu.liquid %}
        <main class="splash" style="background-image: url(../img/{{ backgroundImage }});">
        <div class="left">
        <h1 class="intro-text">{{ pageTitle }} </h1>
        <ul class="stats no-bullets">
        {% for stat in stats %}
            <li>{{ stat | transformStat }}</li>
        {% endfor %}
        </ul>
        </div>
        <div class="right">
        {{ content }}
        </div>
        </main>
    </body>
</html>