<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
    </head>
    <body class="{{ bodyClass }} student">
        {% include menu.liquid %}
        <main class="student" style="background-image: url(../img/backgrounds/{{ backgroundImage }}); background-position: {{ backgroundPosition }};">
        <div class="box {{ location }}">
            <h1>{{ pageTitle }}</h1>
            {{ content }}
        </div>
        </main>
    </body>
</html>